@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --color-white: white;
    --color-green: green;
    --color-orange: orange;
    --color-grey: #f1f5fe;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus{
    outline: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* general */

a, a:hover{
    text-decoration: none;
}

h2{
    font-size: 3rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

p{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    line-height: 2.8rem;
}

/* ************************************************************************************************** */
/* **************** Navbar******************************* */

.topnav{
    z-index: 1;
    padding: 1rem 0;
    width: 100%;
    min-height: 5rem;
    position: fixed;
    top: 0;
    background: rgb(255,165,0);
    background: linear-gradient(145deg, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 45%, rgba(255,165,0,1) 45%, rgba(0,128,0,1) 100%, rgba(0,128,0,0.8421568456484156) 100%, rgba(0,128,0,0.8421568456484156) 100%); 
}

.logo{
    font-size: 2.5rem;
    color: var(--color-white);
    font-weight: bold;
}

.logo  span{
    color: var(--color-green);
}

.logo:hover{
    color: var(--color-white);
}

.navlink ul li a{
    color: var(--color-white);
    font-size: 1.6rem;
    transition: .5s;
}

.navlink ul li a:hover{
   font-weight: bold;
}

/* ************************************************************************************************** */
/* **************** Header ******************************* */

.header{
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/woman-wearing-face-mask-3902881.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.heading{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.heading h1{
    color: var(--color-white);
    font-size: 4rem ;
    margin-bottom: 4rem;
}

.btn-prevent{
    padding: 2rem 3rem;
    font-size: 1.6rem;
    background: var(--color-green);
    color: white;
    font-weight: bold;
    border: none;
    transition: .3s;
}

.btn-prevent:hover{
    background: var(--color-orange);
}

/* ************************************************************************************************** */
/* **************** Header ******************************* */

.stats{
    min-height: 5rem;
    padding: 3rem 0;
}

.stats .container{
    width: 70%;
}

.stats-item{
    border: 1px solid #ccc;
    padding: 1rem;
}

.stats-item_icon{
    height: 7rem;
    width: 7rem;
    margin-right: 1rem;
}

.stats-item_icon img{
    height: 7rem;
    width: 100%;
    object-fit: cover;
}

.stats-item_desc h5{
    font-size: 2rem;
}

.stats-item_desc span{
    font-size: 3rem;
}

.infecte{
    color: var(--color-orange);
}

.gueris{
    color: var(--color-green);
}

.deces{
    color: rgb(173, 12, 12);
}

/* ************************************************************************************************** */
/* **************** About covid ******************************* */

.about{
    min-height: 10rem;
    background-color: var(--color-grey);
    padding: 5rem 0;
}


/* ************************************************************************************************** */
/* ****************Symptomes******************************* */

.symptome{
    padding: 5rem 0 0;
}

.symptom-card-desc{
    padding: 1.5rem;
    background: var(--color-green);
    margin-bottom: 1rem;
    transition: .3s;
}

.symptom-card-desc:hover{
    background: var(--color-orange);
}

.symptom-card-desc span{
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.6rem;
}

/* ************************************************************************************************** */
/* ****************Symptomes******************************* */

.propagation{
    background: var(--color-grey);
    padding: 5rem 0;
}

.propagation-card{
    background: var(--color-white);
    padding: 2rem 0;
    margin-bottom: 2rem;
    border: 1px solid var(--color-green);
}

.propagation-card_desc h4{
    font-size: 2rem;
}

/* ************************************************************************************************** */
/* ****************Mesure de prevention******************************* */

.prevention{
    padding: 5rem 0;
}

.avoid-head{
    background: var(--color-orange);
    padding: 1rem 0;
    text-align: center;
}

.avoid-head h3{
    color: var(--color-white);
    font-size: 2rem;
    font-weight: bold;
}

.avoid-body{
    padding: 2rem;
    box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.avoid-item-icon{
    height: 7rem;
    width: 7rem;
    text-align: center;
    border: 1px solid var(--color-green);
}

.avoid-item-icon img{
    height: 7rem;
    width: 70%;
    object-fit: contain;
}

.avoid-item-desc span{
    font-size: 1.8rem;
}

.good-head{
    background: var(--color-green);
    padding: 1rem 0;
    text-align: center;
}

.good-head h3{
    color: var(--color-white);
    font-size: 2rem;
    font-weight: bold;
}

.good-body{
    padding: 2rem;
    box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.1);
}

/* ************************************************************************************************** */
/* ****************Contact******************************* */

.contact{
    text-align: center;
    padding: 3rem 0;
    background: rgb(255,165,0);
    background: linear-gradient(145deg, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 45%, rgba(255,165,0,1) 45%, rgba(0,128,0,1) 100%, rgba(0,128,0,0.8421568456484156) 100%, rgba(0,128,0,0.8421568456484156) 100%);
}

.contact h3{
    color: var(--color-white);
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

.contact span{
    background: var(--color-white);
    font-size: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

/* *********************************** */
/* ********** Mesure Du gouvernement ***************** */

.Government{
    padding: 5rem 0;
}

.card-gouvernement{
    width: 70%;
    margin: 0 auto;
}

.card-header{
    background: var(--color-green);
}

.card-header h2{
    
    margin-top: 0;
}

.btn-link{
    color: var(--color-white);
    font-size: 2rem;
    border: none;
}

.btn-link:hover{
    color: var(--color-white);
    text-decoration: none;
}

.btn-link:focus{
    text-decoration: none;
}

.card-body p{
    margin-bottom: 3rem;
}

/* ************************************************************************************************** */
/* ****************Footer******************************* */

.footer{
    padding: 5rem 0 0;
    background: var(--color-grey);
}

.ministere-logo{
    height: 7rem;
    width: 7rem;
}

.ministere-logo img{
    height: 7rem;
    width: 100%;
    object-fit: cover;
}

.ministere span{
    font-size: 2rem;
}

.resaux-logo{
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--color-white);
    border: 1px solid var(--color-green);
}

.resaux-logo img{
    width: 100%;
    height: 2.5rem;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resaeux span{
    font-size: 1.6rem;
}

.message-ministere p{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.copyright{
    background: var(--color-green);
    padding: 2rem 0;
    text-align: center;
}

.copyright span{
    font-size: 1.6rem;
    color: var(--color-white);
}
